<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportsTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="developer2022.DatosTest.dbo" connectionString="XpoProvider=MSSqlServer;data source=Developer2022;user id=SQL_User_App;password=EDAR;initial catalog=Datos;Persist Security Info=true" />
        <add name="localhost_Datos_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=SQL_User_App;password=EDAR;initial catalog=Datos;Persist Security Info=true" />
        <add name="Connection" connectionString="Data Source=Developer2022;Initial Catalog=Datos;Integrated Security=True;TrustServerCertificate=True; User ID=SQL_User_App;Password=EDAR" />
    </connectionStrings>
    <userSettings>
        <ReportsTool.My.MySettings>
            <setting name="A_FormState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A_FormDig_OutputType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A_FormDig_TimeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A_FormDig_FreeTimeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A_FormDig_HoursOrStarts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A_FormDig_ShowInitVal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A_FormDig_ShowEndVal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A_FormDig_IncludeStarts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A_FormDig_Tags" serializeAs="String">
                <value />
            </setting>
            <setting name="A_FormDig_DateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="A_FormDig_DateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="A_FormDig_HourFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="A_FormDig_HourTo" serializeAs="String">
                <value />
            </setting>
            <setting name="D_FormState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D_FormDig_OutputType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_FormDig_TimeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_FormDig_FreeTimeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D_FormDig_HoursOrStarts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D_FormDig_ShowInitVal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D_FormDig_ShowEndVal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D_FormDig_IncludeStarts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D_FormDig_Tags" serializeAs="String">
                <value />
            </setting>
            <setting name="D_FormDig_DateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="D_FormDig_DateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="D_FormDig_HourFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="D_FormDig_HourTo" serializeAs="String">
                <value />
            </setting>
        </ReportsTool.My.MySettings>
    </userSettings>
</configuration>
